<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true" stopOnFailure="true">
    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <ini name="memory_limit" value="2048M"/>
    </php>
    <testsuites>
        <testsuite name="DSTU1-Static">
            <file>./output/HL7/FHIR/DSTU1/PHPFHIRTests/PHPFHIRConstantsTest.php</file>
            <file>./output/HL7/FHIR/DSTU1/PHPFHIRTests/PHPFHIRTypeMapTest.php</file>
        </testsuite>
        <testsuite name="DSTU1-Unit">
            <directory>./output/HL7/FHIR/DSTU1/PHPFHIRTests/Unit</directory>
        </testsuite>

        <testsuite name="DSTU2-Static">
            <file>./output/HL7/FHIR/DSTU2/PHPFHIRTests/PHPFHIRConstantsTest.php</file>
            <file>./output/HL7/FHIR/DSTU2/PHPFHIRTests/PHPFHIRTypeMapTest.php</file>
        </testsuite>
        <testsuite name="DSTU2-Unit">
            <directory>./output/HL7/FHIR/DSTU2/PHPFHIRTests/Unit</directory>
        </testsuite>
        <testsuite name="DSTU2-Integration">
            <directory>./output/HL7/FHIR/DSTU2/PHPFHIRTests/Integration</directory>
        </testsuite>

        <testsuite name="STU3-Static">
            <file>./output/HL7/FHIR/STU3/PHPFHIRTests/PHPFHIRConstantsTest.php</file>
            <file>./output/HL7/FHIR/STU3/PHPFHIRTests/PHPFHIRTypeMapTest.php</file>
        </testsuite>
        <testsuite name="STU3-Unit">
            <directory>./output/HL7/FHIR/STU3/PHPFHIRTests/Unit</directory>
        </testsuite>
        <testsuite name="STU3-Integration">
            <directory>./output/HL7/FHIR/STU3/PHPFHIRTests/Integration</directory>
        </testsuite>

        <testsuite name="R4-Static">
            <file>./output/HL7/FHIR/R4/PHPFHIRTests/PHPFHIRConstantsTest.php</file>
            <file>./output/HL7/FHIR/R4/PHPFHIRTests/PHPFHIRTypeMapTest.php</file>
        </testsuite>
        <testsuite name="R4-Unit">
            <directory>./output/HL7/FHIR/R4/PHPFHIRTests/Unit</directory>
        </testsuite>
        <testsuite name="R4-Integration">
            <directory>./output/HL7/FHIR/R4/PHPFHIRTests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
